/*
Colors:

Text: 1A1A1A
Green: #00B172
White: 
*/
* {
margin: 100;
padding: 0;
box-sizing: border-box;
}
body {
    background-color: beige;
    font-family: Arial, sans-serif;
    margin: 200;
    padding: 0;
    line-height: 2.0;
}

li {
    list-style: none;
}
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px ;
}
.navegacion {
    display: flex;
    gap: 10px;
    align-items: center;
}

nav a {
    color: rgb(12, 12, 12);
    text-decoration: none;
  }
main {
display: flex;

}
h1 {
    margin: 20px;
    display: flex;
    justify-content: space-between;

}
section-app ul {
    display: grid;
    gap: 20px;
}